Repository skkuse/2023fall_41class_team4, pull requests merged in 2023-11, with the labels that each got.

#7 feat: header, footer 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/assets/grass.jpg
  frontend/src/components/footer.js
  frontend/src/components/header.js
Labels: frontend

#12 feat: 설명 컴포넌트 추가
  .github/ISSUE_TEMPLATE/issue--feat.md
  .github/ISSUE_TEMPLATE/issue--fix.md
  .github/ISSUE_TEMPLATE/issue--refactor.md
  .github/ISSUE_TEMPLATE/issue--setting.md
  .github/ISSUE_TEMPLATE/issue--share.md
  .github/ISSUE_TEMPLATE/issue--suggest.md
  .gitignore
  .npmrc
  LICENSE
  backend/.eslintrc.js
  backend/.prettierrc
  backend/README.md
  backend/nest-cli.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.js
  frontend/src/components/howItWorks.js
  readme.md
Labels: frontend

#20 feat: hardware component 추가
  frontend/src/App.js
  frontend/src/components/hardwareSpec.js
Labels: frontend

#25 Add Design Specification file
  CODEMETER_design_specification.pdf
Labels: documentation

#14 build: Dockerfile 추가
  backend/Dockerfile
Labels: enhancement, backend

#16 chore: local mysql 설정
  .gitignore
  backend/.db_sample
  backend/docker-compose.yml
Labels: enhancement, backend

#29 feat: java compiler, java runner 구현
  backend/Dockerfile
  backend/package-lock.json
  backend/src/java-compiler/java-compiler.service.ts
  backend/src/java-runner/execution-result.domain.ts
  backend/src/java-runner/execution-status.enum.ts
  backend/src/java-runner/java-runner.service.ts
Labels: enhancement, backend

#31 feat: 탄소배출량 계산 api mock 데이터 추가 및 swagger 추가
  CODEMETER_design_specification.pdf
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/carbon-emission-request.dto.ts
  backend/src/carbon-emission-response.dto.ts
  backend/src/main.ts
  요구사항 명세서.pdf
Labels: enhancement, backend

#34 feat: 탄소배출량 표시 카드 컴포넌트 추가
  CODEMETER_design_specification.pdf
  frontend/src/App.js
  frontend/src/components/bigCard.js
  frontend/src/components/cardContainer.js
  frontend/src/components/hardwareSpec.js
  frontend/src/components/smallCard.js
  요구사항 명세서.pdf
  요구사항 명세서.pdf
Labels: frontend
