Repository skkuse/2023fall_41class_team4, pull requests merged in 2023-12, with the labels that each got.

#26 feat: 탄소 배출량을 실생활 사용량으로 바꾸는 로직 개발
  backend/src/modules/carbon-emissios-converter/carbon-emissions-converted-values.dto.ts
  backend/src/modules/carbon-emissios-converter/carbon-emissions-converter.service.ts
Labels: enhancement, backend

#42 feat: implement major modules
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/code/code.module.ts
  backend/src/code/code.service.spec.ts
  backend/src/code/code.service.ts
  backend/src/converter/carbon-emissions-converted-values.dto.ts
  backend/src/converter/converter.module.ts
  backend/src/converter/converter.service.ts
  backend/src/db/code.entity.ts
  backend/src/db/execution-result.entity.ts
  backend/src/db/execution-status.enum.ts
  backend/src/db/migrations/1701586910223-Migration.ts
  backend/src/db/ormconfig.ts
  backend/src/db/typeorm-config.service.ts
  backend/src/java-compiler/java-compiler.module.ts
  backend/src/java-compiler/java-compiler.service.ts
  backend/src/java-runner/execution-result.domain.ts
  backend/src/java-runner/java-runner.module.ts
  backend/src/java-runner/java-runner.service.ts
  set-env.sh
Labels: backend

#53 feat: unify response
  backend/src/app.controller.ts
  backend/src/app.service.ts
  backend/src/carbon-emission-response.dto.ts
  backend/src/converter/converter.service.ts
  backend/src/dto/carbon-emission-request.dto.ts
  backend/src/dto/carbon-emission-response.dto.ts
Labels: backend

#55 Refactor: API response 구조 변경 및 Swagger 업데이트
  backend/src/app.controller.ts
  backend/src/app.service.ts
  backend/src/converter/converter.service.ts
  backend/src/dto/carbon-emission-converted-result.dto.ts
  backend/src/dto/carbon-emission-response.dto.ts
Labels: enhancement, backend

#58 refactor: API response 구조 변경
  backend/src/dto/carbon-emission-converted-result-response.dto.ts
  backend/src/dto/carbon-emission-converted-result.dto.ts
  backend/src/dto/carbon-emission-response.dto.ts
Labels: enhancement, backend

#48 hotfix: changed title, added max limit, changed cursor, changed file name camelCase
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/JavaEditor.js
Labels: frontend

#68 chore: remove unnecessary files
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/JavaEditor.js
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: frontend

#69 fix(fe): changed elevator, a4 to subway, apple
  frontend/src/App.js
  frontend/src/components/cardContainer.js
Labels: frontend

#75 Feat: API response에 runtime, mem usage 추가
  backend/src/app.service.ts
  backend/src/converter/converter.constants.ts
  backend/src/converter/converter.service.ts
  backend/src/dto/carbon-emission-converted-result.dto.ts
  backend/src/dto/carbon-emission-response.dto.ts
Labels: enhancement, backend

#79 refactor: import typeorm from db module
  backend/src/app.module.ts
  backend/src/db/db.module.ts
  backend/src/db/entity/execution-status.enum.ts
  backend/src/java-runner/java-runner.service.ts
Labels: backend

#76 hotfix: changed response expression
  frontend/src/App.js
  frontend/src/components/bigCard.js
  frontend/src/components/hardwareSpec.js
Labels: bug, frontend

#87 fix: 파일 이름 변경, 주석 제거
  frontend/src/App.js
  frontend/src/components/codeEditor.js
Labels: frontend

#85 feat : toast, modal 컴포넌트 추가
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/App.js
  frontend/src/components/modal.js
Labels: frontend

#83 fix: timeout alarm to parent from child
  backend/src/java-runner/run.c
Labels: bug

#89 test: unit test & e2e test
  backend/.db_sample
  backend/docker-compose.yml
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.service.spec.ts
  backend/src/app.service.ts
  backend/src/converter/converter.service.spec.ts
  backend/src/converter/converter.service.ts
  backend/src/db/db.module.ts
  backend/src/db/db.repository.ts
  backend/src/db/entity/code.entity.ts
  backend/src/db/typeorm/datasource.ts
  backend/src/db/typeorm/migrations/1702821915336-migration.ts
  backend/src/db/typeorm/typeorm-config.service.ts
  backend/src/java-compiler/java-compiler.module.ts
  backend/src/java-compiler/java-compiler.service.spec.ts
  backend/src/java-compiler/java-compiler.service.ts
  backend/src/java-runner/java-runner.module.ts
  backend/src/java-runner/java-runner.service.spec.ts
  backend/src/java-runner/java-runner.service.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.json
Labels: backend

#94 fix: fix typo
  backend/src/dto/java-error.exception.ts
Labels: backend

#90 feat: Merging Frontend to Main
  .github/workflows/ci-front.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/assets/grass.jpg
  frontend/src/components/bigCard.js
  frontend/src/components/cardContainer.js
  frontend/src/components/codeEditor.js
  frontend/src/components/footer.js
  frontend/src/components/hardwareSpec.js
  frontend/src/components/header.js
  frontend/src/components/howItWorks.js
  frontend/src/components/modal.js
  frontend/src/components/smallCard.js
  frontend/src/constants/status.js
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  요구사항 명세서.pdf
Labels: frontend

#93 feat: add testcases
  backend/test/testcase/CompileError.java
  backend/test/testcase/KilledError.java
  backend/test/testcase/RuntimeError.java
  backend/test/testcase/Success.java
Labels: enhancement

#95 chore: delete duplicate files
  CODEMETER_design_specification.pdf
  요구사항 명세서.pdf
Labels: documentation

#98 docs: edit README
  README.md
  요구사항 명세서.pdf
Labels: documentation

#100 chore: trigger ci on main branch
  .github/workflows/ci.yml
Labels: backend

#102 fix(fe): fix icon size prop value
  frontend/src/components/modal.js
Labels: bug, frontend

#106 fix: fixed proxy address to 3000
  frontend/package.json
Labels: frontend

#107 fix: cleared console
  frontend/src/App.js
Labels: frontend

#108 fix: removed console error, warning clearer
  frontend/src/App.js
Labels: frontend
